[2015-09-12 11:20] deemidroll opened #1 "API"
запрос на логин "loginReq"
{
  uid: uid
}

ответ на логин "loginRes"
{
  name: name,
  avatar: avatar,
  uid: uid
}

отправка сообщение "sendMessage"
{
  text: text,
  uid: uid
}

получение сообщения "message"
{
  text: text,
  uid: uid,
  time: time
}

получение данных другого юзера "getUser"
{
  name: name,
  avatar: avatar,
  uid: uid
}

[2015-09-12 12:17] exah opened #2 "Чат"
- Каждый раз генерируется новый пользователь
- Нет ников, генерируется случайная аватарка
- ~~Комната исчезает после часа неактивности~~
- Можно создавать анонимную комнату, которая будет доступна только по ссылке и исчезает через час

[2015-09-12 12:29] tempname11 opened #3 "Базовый скелет клиента"

[2015-09-12 12:39] exah opened #4 "Frontend по дизайну окна чата"
![main window 2x](https://cloud.githubusercontent.com/assets/442932/9831520/6fd15498-5964-11e5-9eb5-eef1959502d2.png)
![main window copy 2x](https://cloud.githubusercontent.com/assets/442932/9831521/6ffabec8-5964-11e5-86d2-186d6a04ac57.png)

[2015-09-12 12:48] megatolya commented on #4
лойс!
12 сент. 2015 г. 15:39 пользователь "exah" notifications@github.com
написал:

[2015-09-12 12:54] alt-j opened #5 "Добавить прекоммит хуки в репозиторий"

[2015-09-12 13:57] #3 closed, assigned to tempname11

[2015-09-12 14:20] alt-j commented on #1
https://github.com/shri-2015-org/666/commit/81291ff50e320aa8f9eb859be8841db1a1b4f15f

[2015-09-12 14:20] #1 closed, assigned to deemidroll

[2015-09-12 15:37] mightyaleksey opened #7 "Реализация комнат (сервер)"
- Протухание комнаты (нет никого)
- Возможность получение списка пользователей для конкретной комнаты
- Добавление комнат

[2015-09-12 15:37] mightyaleksey opened #8 "Реализация комнат (верстка)"

[2015-09-12 15:38] mightyaleksey opened #9 "Реализация комнат (фронтенд)"
- Доступность комнат по урлу
- Список пользователей в комнате
- Навигация по комнатам

[2015-09-12 15:40] mightyaleksey opened #10 "Вывести список пользователей"
У нас же чат!

[2015-09-12 15:48] mightyaleksey opened #11 "Персистентное хранилище"
Файловая система, база данных, облако или что-то еще.

[2015-09-12 15:49] mightyaleksey opened #12 "Статус активности собеседника (фронтенд)"

[2015-09-12 15:50] mightyaleksey opened #13 "Статус доставки сообщения"

[2015-09-12 16:07] mightyaleksey opened #14 "Статус активности собеседника (сервер)"

[2015-09-12 16:10] alt-j commented on #2
перенс в вики

[2015-09-12 16:10] #2 closed, assigned to nobody

[2015-09-12 16:14] mightyaleksey opened #16 "Подумать о документировании кода"
JSDoc?

[2015-09-12 16:44] naruzl opened #17 "Генерация ID"
Генерировать ID в БД.

[2015-09-12 16:45] naruzl opened #18 "jsdoc"
Добавить jsdoc

[2015-09-12 16:52] alt-j commented on #16
https://github.com/shri-2015-org/666/issues/18

[2015-09-12 17:24] pofigizm opened #21 "Отделить работу с socket.io в отдельный модуль"

[2015-09-12 17:26] pofigizm commented on #21
@tempname11

[2015-09-13 08:31] alt-j commented on #5
https://github.com/shri-2015-org/666/commit/35bc926928b60631a66a5488bd4671053db200d6

[2015-09-13 08:31] #5 closed, assigned to khokhlachev

[2015-09-13 08:34] alt-j opened #23 "Отказаться от использования gulp-тасок"
Можно посмотреть или в сторону `webpack-dev-server` или делать пересборку в middelware при запросе на статики (если у сборщика есть кеш).

[2015-09-13 08:36] alt-j opened #24 "Удалить директорию build из репозитория"

[2015-09-13 08:38] alt-j opened #25 "Описать общую архитектуру проекта"

[2015-09-13 08:38] alt-j opened #26 "Подумать о добавлении тестов"

[2015-09-13 11:55] deemidroll opened #28 "Standalone"
Сделать сборщик standalone для мобильных и десктопов на phone gap и node-webkit

[2015-09-13 12:01] deemidroll opened #29 "Завести VPS"
Amazon или digital ocean, например.

[2015-09-13 12:15] pofigizm commented on #29
DO
промокод `RADIO-T` - 10$

[2015-09-13 16:00] pofigizm commented on #23
В рамках этой задачи желательно добавить раздачу статики через наш сервер. Для дев окружения это будут файлы которые препроцессит webpack, а для прода это будут скомпиленые файлы.

[2015-09-13 20:14] tempname11 opened #33 "Сгруппировать CSS и JS для компонентов в одной папке"
По мотивам https://github.com/shri-2015-org/666/pull/32#issuecomment-139913870

@exah Нужно твое мнение, как автора всего существующего CSS

[2015-09-13 20:15] tempname11 commented on #33
@alt-j @sullenor меншн для нотификаций

[2015-09-13 21:25] tempname11 opened #35 "Учесть комментарии по поводу CSS"
Табуляции и кодстайл -- https://github.com/shri-2015-org/666/pull/32#discussion-diff-39351304
Ручные префиксы -- https://github.com/shri-2015-org/666/pull/32#discussion-diff-39351322
Семантичная верстка -- https://github.com/shri-2015-org/666/pull/32#discussion_r39351374
SVGO -- https://github.com/shri-2015-org/666/pull/32#issuecomment-139912104

@alt-j @exah @sullenor

[2015-09-14 11:30] tempname11 opened #36 "Идея про проверку типов, а так же валидацию данных и API"
Оформлю это как рассказ о сегодняшнем эксперименте.
## Про пропсы:

Я решил немного поэкспериментировать с React-овским PropTypes. Для начала заметил, что propTypes очень плохо читаются и трудно пишутся:

[code]

С помощью небольшой обертки я пришел к

[code]

Дальше, я заметил, что многие типа пропсов повторяются несколько раз (когда мы из внешнего React компонента пробрасываем их во внутренний,

[2015-09-14 12:19] megatolya commented on #36
херасе

[2015-09-14 12:23] pofigizm commented on #36
я думаю стоит, но параллельно с "продуктом", заранее все не предусмотриш

[2015-09-14 12:42] #21 closed, assigned to pofigizm

[2015-09-14 12:45] tempname11 commented on #36
@Pofigizm Тут нет задачи предусмотреть что-то, скорее просто более четко описать то, что есть:)

[2015-09-14 12:52] tempname11 commented on #36
@megatolya А можно поразвернутей?))) А то непонятно даже, положительная твоя реакция или отрицательная)

[2015-09-14 15:40] deemidroll commented on #12
какие будут статусы активности? Онлайн, оффлайн, печатает?

[2015-09-14 15:42] #14 closed, assigned to deemidroll

[2015-09-14 16:18] megatolya commented on #12
ну если мало можно "отошел" автоматом ставить )

[2015-09-14 16:25] megatolya commented on #36
:))
не, не, круто, конечно)

[2015-09-14 17:16] pofigizm commented on #12
Ок, давайте пока ограничимся этим количеством статусов.

[2015-09-14 17:20] deemidroll commented on #18
@alt-j  Вопрос: как лучше сделать общий jsdoc typedef для нескольких файлов, где он требуется?

[2015-09-14 20:18] alt-j commented on #18
Достаточно описать в одном из файлов, удобнее всего в том, где этот формат генерируется.

[2015-09-14 21:11] mightyaleksey commented on #36
На мой взгляд эти проверки помогают на этапе разработки и гарантируют некоторую надежность приложения в будущем, чтобы не было такого: "Я вмержил ветку и у меня все сломалось :(". Да и проще становится вносить какие-то изменения (рефакторить).

Надежнее конечно писать тесты на API. Но как дешевая полумера - проверка типов тоже ок :)

[2015-09-14 21:22] tempname11 commented on #36
Надежнее делать и то, и другое:))

[2015-09-15 12:46] exah opened #37 "Использовать Git-flow"
Предлогам перейти полностью на git-flow потому, что у нас и так, что-то типа этого и просиходит, только с git-flow будет всё более организованнее и по одной системе.

Базовые принципы
- `master` - основная ветка
- `develop` - в разработке (можем пока не юзать, всё мёржить в мастер)
- Каждая фича разрабатывается в ветке `feature/foo`
- `hotfix/bar` быстрые фиксы для мастера тоже в отдельных ветках

[2015-09-15 12:48] exah commented on #37
Или я что-то пропустил и мы так и делаем?)

[2015-09-15 13:07] exah commented on #35
1. Codestyle сторонних файлов тоже нужно править? Это типа как библиотека, во всех сорцах вы правите? (файл не для редактирования)
2. Некоторые префиксы убрал, но некоторые оставил (рассчитанные на специальные фичи браузеров (см. пункт 1 — это сторонний файл, не уверен, что это в принципе правильно)).
3. Насчет семантической вёрстки сильно сказано, но к этому участку кода не относится.
4. Да давай

[2015-09-15 13:23] pofigizm commented on #37
вроде так и делаем, только ветки называем `<username>.<feature>`

[2015-09-15 15:51] #35 closed, assigned to exah

[2015-09-15 16:01] mightyaleksey commented on #35
По хорошему, не нужно коммитить файлы сторонних библиотек в проект, либо коммитить все и игнорить.

[2015-09-15 18:15] exah commented on #37
а ещё `feature-<feature>`

[2015-09-15 22:09] naruzl commented on #7
Наверное, необходимо будет добавить возможность как захода в комнату, так и возможность выхода из нее. Если все вышли, комната автоматически закрывается, чтобы не висели пустые.

[2015-09-16 13:11] tempname11 commented on #37
Поддерживаю git flow полностью. `develop` предлагаю начать юзать, когда у нас появится первая стабильная версия.

Ветки мне пока лично приятнее называть а-ля `feature-blah`. Андрей предлагал в субботу `username.#-featurename` (# -- номер issue), но такие имена оставляют небольшое ощущение тяжеловесности и бюрократичности, опять же чисто по личному ощущению:)

[2015-09-16 13:13] tempname11 commented on #7
Да, причем выход не по закрытию вкладки браузера, а именно UI-шное действие пользователя. А то будет неудобно очень.

[2015-09-16 13:28] tempname11 commented on #37
Еще по поводу мерджей -- опять же по совету Андрея, давайте условимся, что pull-request в штатных ситуациях мы мерджим только тогда, когда двое (**2**) членов команды дали своё "+1". Это избавит нас от ситуации, когда в `develop` или `master` внезапно появляется код, который видит и понимает только один человек.

Правда, это будет означать, что на всех лежит ответственность стараться читать, вника

[2015-09-16 13:33] deemidroll commented on #37
Ты говоришь, что имя в ветке - это бюрократия, но при этом хочешь четкому символ для подтверждения, что тогда уж тоже бюрократия)) Если серьезно то я за "ок" в качестве подтверждения и за имя в названии ветки.

[2015-09-16 14:02] pofigizm commented on #37
имя в название ветки - [ок, +1] ))

[2015-09-16 14:27] tempname11 commented on #37
Ну, бюрократия это вроде когда приходится делать что-то потому, что "так положено" без понимания и принятия того, зачем. А я скорее за "давайте сами договоримся о том, что удобнее для нас".

[2015-09-17 19:36] megatolya commented on #4
PR вмерджен, закрываем?

[2015-09-17 19:41] megatolya commented on #33
а не хотите [компоненты](https://github.com/shri-2015-org/666/tree/master/client/js/components) побить на папочки, например, [так](https://github.com/css-modules/webpack-demo/tree/master/src/components/0-Logo)?

[2015-09-17 19:43] megatolya commented on #28
Если сюда дойдет, советую начать с node-webkit. Phone gap тормозной, с кривым апи. Если захочется так уж упороться, то лучше пощупать react-native.

[2015-09-17 19:46] megatolya commented on #16
У нас уже что-то есть про это https://github.com/shri-2015-org/666/wiki/API-server
@deemidroll актуальные доки?

[2015-09-17 20:02] #4 closed, assigned to exah

[2015-09-17 20:03] exah commented on #33
я за

[2015-09-17 20:03] exah commented on #33
собираюсь так сделать, завтра / в субботу (в моей ветке локальной уже начал)

[2015-09-17 20:06] tempname11 commented on #16
Завтра по поводу этого API постараюсь сделать PR

[2015-09-17 20:52] deemidroll commented on #28
Уже щупаю, довольно приятно с ним работать

[2015-09-17 21:00] deemidroll commented on #28
с react-native в смысле

[2015-09-17 21:18] megatolya commented on #28
круто, расскажи потом, как он тебе

[2015-09-17 21:42] mightyaleksey commented on #28
да, мне тоже интересно :)

[2015-09-18 09:18] #26 closed, assigned to pofigizm

[2015-09-18 09:22] pofigizm commented on #24
это уже сделано

[2015-09-18 09:23] pofigizm commented on #17
Последняя таска из [Prototype]
Какой статус?

[2015-09-18 09:25] pofigizm commented on #29
@deemidroll ты не против если я эту таску возьму на себя?

[2015-09-18 09:41] tempname11 commented on #24
Вообще-то нет? в `master` он до сих пор есть.

[2015-09-18 09:45] deemidroll commented on #28
Обязательно :)

[2015-09-18 09:49] pofigizm commented on #24
Сорри!

[2015-09-18 10:07] pofigizm commented on #29
@deemidroll ping

[2015-09-18 10:07] pofigizm commented on #29
да / нет ?

[2015-09-18 10:07] deemidroll commented on #29
@Pofigizm да, конечно не против

[2015-09-18 10:08] pofigizm commented on #29
ок

[2015-09-18 10:11] deemidroll commented on #16
@megatolya  доки актуальные, но мы договорились, что откажемся от вики в пользу документирвоания непосредственно в коде. @tempname11 обещал показать, как :)

[2015-09-18 13:09] deemidroll commented on #28
удалось завести, но нужна помощь с redux, так как я его практически не понимаю, очень надеюсь завтра на вашу помощь :)

[2015-09-19 08:28] #33 closed, assigned to exah

[2015-09-19 09:18] exah commented on #8
Задачи по комнатам
- [x] Отправка по enter
- [x] Список комнат
- [x] Активная комната
- [x] Шапка комнаты
- [x] Скрытие списка

---
- [ ] Удаление комнаты
- [ ] Добавление комнаты

[2015-09-19 10:05] #29 closed, assigned to pofigizm

[2015-09-19 10:32] pofigizm opened #44 "Создание комнаты"
follow #7

[2015-09-19 10:33] pofigizm opened #45 "Удаление комнаты"
Удаление комнаты

[2015-09-19 10:34] pofigizm opened #46 "Создание пользователей внутри комнаты"
Добавление пользователей

[2015-09-19 10:37] pofigizm commented on #46
follow #7

[2015-09-19 10:37] pofigizm commented on #45
follow #7

[2015-09-19 10:38] pofigizm commented on #44
Создание комнаты

[2015-09-19 10:42] pofigizm opened #47 "Генерация имен"
Генерация имен

[2015-09-19 10:42] pofigizm opened #48 "Генерация аватар"
Генерация аватар

[2015-09-19 10:46] pofigizm commented on #17
Решили не делать

[2015-09-19 10:46] #17 closed, assigned to naruzl

[2015-09-19 12:36] tempname11 opened #49 "Сделать нормальную документацию API транспорта"
https://github.com/shri-2015-org/666/wiki/API-v2-draft

[2015-09-19 12:43] tempname11 commented on #49
Очень кривое фото, чтобы самому вспомнить, что мы обуждали:

Message,
User,
Room,

![photo on 19-09-2015 at 15 37 2](https://cloud.githubusercontent.com/assets/8409150/9976184/85dcc1fc-5ee4-11e5-9d89-6268cc78c944.jpg)

[2015-09-19 12:53] tempname11 commented on #36
Закрываю по причине того, что мы решили делать иначе. #49

[2015-09-19 12:53] #36 closed, assigned to tempname11

[2015-09-19 12:58] tempname11 opened #51 "Сделать легковесный transport builder"
Немного пересекается c #49

Notification,
Exchange на промисах.

[2015-09-19 13:00] tempname11 commented on #9
Таск очень большой и его стоит разбить на более мелкие, причем делать будут делать разные люди одновременно.

[2015-09-19 13:04] tempname11 opened #52 "Попробовать flow (+flow-jsdoc)"
Оценить, насколько просто его интегрировать в проект. Оценить, насколько это будет полезно для команды.

[2015-09-19 13:05] tempname11 commented on #37
Все уже согласились, закрываю.

[2015-09-19 13:05] #37 closed, assigned to nobody

[2015-09-19 13:06] tempname11 commented on #18
Задача слишком нечетко сформулирована.

[2015-09-19 13:56] deemidroll opened #54 "Статус активности собеседника (sever)"

[2015-09-19 14:15] tempname11 commented on #52
Попробовать включить flow/flowcheck на одном из файлов.

[2015-09-19 14:20] tempname11 commented on #52
Сделать прототип для демонстрации, аналогично "велосипеду".

[2015-09-19 14:25] tempname11 commented on #49
https://github.com/shri-2015-org/666/wiki/API-server перенести:

Типы данных в jsdoc+constructor (`User` и `Message` перенести из `server/`)
Таблицу "события сокетов" в `common/transport/api.js`

[2015-09-19 15:33] khokhlachev opened #57 "Статус сообщения "прочитано""
При попадании сообщения во вьюпорт в активной вкладке менять статус сообщения на "прочитано", отправлять событие readMessage на сервер только на чужие сообщения + слушать messageRead на свои сообщения

[2015-09-19 15:52] exah opened #58 "Оптимизация под мобильный"
## Оптимизация под мобильный
- [x] Размер окна под мобильный
- [x] Кастомные скроллбары (возможно [iScroll ](http://iscrolljs.com))
- [x] Навигация на мобильном

[2015-09-19 15:52] tempname11 opened #59 "Умные action creator-ы"
см. https://github.com/shri-2015-org/666/pull/55#discussion_r39920788

[2015-09-19 16:14] mightyaleksey commented on #59
Предлагаю сделать такую структуру:
- Непосредственно в рамках компонента Room (который описывает структуру комнаты) связать MessageList и RoomInput через connect из redux с состоянием приложения:
  - MessageList связывается со списком сообщений (явно передаем через connect).
  - RoomInput связываем с пользовательским вводом (userInput), который храним в сторе.
  - в рамках RoomInput подписываться

[2015-09-19 16:18] #8 closed, assigned to exah

[2015-09-19 16:45] tempname11 commented on #59
А-а-а, отжали issue 🙀

[2015-09-19 19:41] tempname11 commented on #59
@sullenor да, мне нравится. если правильно понимаю, заодно избавимся от мутаций DOM-а а-ля `findDOMNode(...).value = ''` (для поля ввода)

[2015-09-19 19:42] mightyaleksey commented on #59
@tempname11 Сережа начал работу и хотел довести до ума ее :)
И да, избавимся от прямой работы с DOM-нодами :)

Предлагаю, потом еще разок на ревью посмотреть вместе )

[2015-09-19 19:46] mightyaleksey commented on #59
@tempname11 Как вариант, ты можешь попробовать доработать функцию reducer и избавить обработку каждого экшена в виде `switch case`. А входные данные описать в виде объекта:

[code]

[2015-09-19 20:01] pofigizm commented on #59
+1

[2015-09-20 09:22] exah opened #61 "Поиск / вывод / создание комнат"
- [x] Вывод 20 популярных комнат
- [x] Вывод комнат к которым подключён ты
- [x] Поиск по комнатам
  - [ ] Кнопка создание комнаты, если нет точного совпадения
  - [ ] Ниже результаты поиска

[2015-09-21 06:38] tempname11 commented on #51
Совершенно непонятно стало, что делать с этим issue, когда @Pofigizm сделал PR с похожим функционалом #62.

@alt-j @sullenor требуется совет.

[2015-09-21 07:48] tempname11 opened #64 "RFC (Request For Comment) по теме API"
Пытаюсь сделать #49. Нужны комментарии, как общие, так и по темам, отмеченным в коде как №1 №2, №3

@deemidroll @Pofigizm @khokhlachev @naruzl
@alt-j @sullenor
### common/transport/api.js

[code]

[2015-09-21 07:57] deemidroll commented on #64
@tempname11, мы обсуждали \* @this в jsdoc'ах, он все-таки нужен? Ты хочешь отправлять на сервер MiniMessage вместе Message? Может все-таки слать полноценный Message, тем более, что сейчас message id ставит клиент, да и время отправки можено проставлять на клиенте, так как оно required в конструкторе Message, а на сервере обновлять. Раз уж мы хотим использовать конструкторы Message и User как на с

[2015-09-21 08:02] tempname11 commented on #64
@deemidroll я просто написал так, как есть в вики. Там двух полей не хватает. Но я не против использовать обычный Message

[2015-09-21 08:04] tempname11 commented on #64
@deemidroll про this -- а как ты предлагаешь?

[2015-09-21 08:19] deemidroll commented on #64
@tempname11 "@this" используем в jsdoc'ах только методов, а не конструкторов

[2015-09-21 08:23] tempname11 commented on #64
То есть просто стереть строчку с this, верно?

[2015-09-21 08:31] mightyaleksey commented on #64
На мой взгляд `@this` для классов не имеет смысла. Для функции - да, так как там контекст вызова может быть разный (и то это плохой кейс использования и лучше так не делать).

Константы можно описать просто через `@type`: http://usejsdoc.org/tags-type.html

[2015-09-21 08:50] deemidroll commented on #64
@tempname11

да :)

[2015-09-21 09:01] tempname11 commented on #64
@sullenor Не вижу по ссылке, как type помогает.

Может быть, http://usejsdoc.org/tags-enum.html ?

[2015-09-21 09:15] mightyaleksey commented on #64
@tempname11 Я не очень понял, что у тебя вызывает трудности: описать тип переменной или экспорты? Или нужно соответствующее название придумать?

[2015-09-21 09:31] tempname11 commented on #64
@sullenor я хочу написать какое-то описание того факта, что значение -- в точности UP или DOWN и ни что иное.

[2015-09-21 09:45] alt-j commented on #51
Если pr полностью закрывает задачу, то, очевидно, закрываем.
Если большую часть задачи, то задачу можно переформулировать так, чтобы закрывал полностью, а на разницу завести отдельнную.
Если маленькую часть, то можно завести на эту маленькую часть отдельную задачу и просто связать их :)

[2015-09-21 09:45] mightyaleksey commented on #64
@tempname11 мне кажется, что названия UP и DOWN звучат очень абстрактно и неочень понятно из названия переменной, что ты имел ввиду.

[2015-09-21 09:52] alt-j commented on #64
- по поводу `this`, рьяно поддерживаю Лешу
- по поводу direction, я бы сделал константу `DATA_DIRECTION`, `@enum {String}`

[2015-09-21 09:57] pofigizm opened #65 "Сборка для прода"
Сборка для прода

[2015-09-21 10:00] alt-j commented on #64
№3:
- зачем в Exchange передавать requestType?
- в конструкторе `Exchange` тип `requestType` может принимать undefined, это тоже стоит выразить в jsdoc
- `{Type}` непонятный тип данных, или надо завести такой класс (хотя непонятно зачем он нужен), или писать `Object`
- в конструкторах хорошей практикой считается еще минимально описывать ответственность компонента, тоже самое можно делать для непон

[2015-09-22 08:59] #23 closed, assigned to pofigizm

[2015-09-22 08:59] #24 closed, assigned to pofigizm

[2015-09-23 08:34] tempname11 commented on #64
Закрываю как непродуктивную тему.

[2015-09-23 08:34] #64 closed, assigned to nobody

[2015-09-23 08:35] tempname11 commented on #51
Закрываю, потому что идея слишком абстрактная и не стоит сейчас на ней фокусироваться. В случае необходимости можно будет открыть заново.

[2015-09-23 08:35] #51 closed, assigned to tempname11

[2015-09-23 08:37] tempname11 commented on #52
Закрываю, потому что на это нет времени. Фактически, понадобится переписывать много кода + многим членам команды еще изучать что-то новое в условиях недостатка времени.

[2015-09-23 08:37] #52 closed, assigned to tempname11

[2015-09-23 08:39] tempname11 commented on #59
Закрываю, как не решающую никаких непосредственных проблем тему. Как именно можно переструктурировать код, понятно, и в случае возникшей необходимости я смогу это сделать.

[2015-09-23 08:39] #59 closed, assigned to khokhlachev

[2015-09-23 11:26] tempname11 commented on #49
https://github.com/shri-2015-org/666/wiki/API-v2-draft

[2015-09-23 17:18] #65 closed, assigned to pofigizm

[2015-09-24 16:07] deemidroll commented on #48
Это закрытая задача. Все соласны?

[2015-09-24 16:10] deemidroll commented on #47
Эта задача закрыта, если нет претензий, закрываю

[2015-09-24 16:12] deemidroll commented on #46
Не совсем понял задачу

[2015-09-24 16:39] pofigizm commented on #47
ок

[2015-09-24 16:39] pofigizm commented on #48
ок

[2015-09-24 16:41] pofigizm commented on #46
Это было на доске, я перенес сюда.
Давай переименуем как добавление (создание) пользователя в комнате

[2015-09-24 16:41] #48 closed, assigned to deemidroll

[2015-09-24 16:42] #47 closed, assigned to nobody

[2015-09-24 16:42] deemidroll commented on #46
Давай

[2015-09-24 17:04] pofigizm opened #73 "Инфраструктура CI"
Сделать интеграция с Travis CI
Прогон тестов перед мержем в мастер
После мержа сборка и раскатка на прод через докер образ

[2015-09-26 15:06] exah opened #74 "Приветствие"
- [x] Заглушка - приветствие
- [x] Дизайн в Wiki

[2015-09-26 15:24] exah commented on #74
Дизайн не строгий, многое может меняется по ходу разработки.

![slice 1](https://cloud.githubusercontent.com/assets/442932/10118204/bfabd91c-647b-11e5-99e7-f29f890a9691.png)

https://github.com/shri-2015-org/666/wiki/Дизайн

[2015-09-26 15:38] #49 closed, assigned to tempname11

[2015-09-26 15:55] pofigizm opened #76 "Реализация АПИ клиент"
Реализация АПИ клиент

[2015-09-26 15:56] pofigizm commented on #76
Работаем @tempname11 @pofigizm

[2015-09-30 18:49] tempname11 commented on #76
Сделано.

[2015-09-30 18:49] #76 closed

[2015-09-30 18:52] tempname11 commented on #57
Статус "доставлено" сделан, остальное вынесем в другой issue.

[2015-09-30 18:52] #57 closed, assigned to khokhlachev

[2015-09-30 19:02] #7 closed, assigned to deemidroll

[2015-09-30 19:02] #9 closed, assigned to nobody

[2015-09-30 19:03] #13 closed, assigned to khokhlachev

[2015-09-30 19:03] #46 closed, assigned to nobody

[2015-09-30 19:03] #44 closed, assigned to naruzl

[2015-09-30 19:06] tempname11 opened #81 "Валидация данных transport"

[2015-09-30 19:08] tempname11 opened #82 "Апи для создания комнаты"

[2015-09-30 19:11] tempname11 opened #83 "Поиск + Создание Комнат"

[2015-09-30 19:12] tempname11 opened #84 "Промежуточный экран комнаты"
В период между тем, как мы нажали на заход в новую комнату, и получением данных с сервера нужно показывать какой-то "промежуточный" вариант комнаты, типа со спиннером и неактивными элементами.

Думаю, лучше всего тут сначала продумать дизайн, а потом отталкиваться от него.

[2015-09-30 19:12] tempname11 opened #85 "Вывод ошибок пользователю"
В настоящий момент, если сервер выдает нам ошибку на один из запросов, пользователь этого никак не видит. Нужно пройтись по API и придумать, в каких случаях и как презентовать эти ошибки пользователю.

[2015-09-30 19:14] tempname11 opened #86 "API для поиска комнаты"

[2015-09-30 19:17] tempname11 commented on #10
Пока что решили, что списка не будет.

[2015-09-30 19:17] #10 closed, assigned to nobody

[2015-09-30 20:43] pofigizm opened #87 "Сохранение логинов в комнаты"
При обновление стора сохранять информацию о залогинненых комнатах в ЛС
При перезагрузке востанавливается состояние

[2015-09-30 20:45] pofigizm opened #88 "Изменение в АПИ - восстановление в комнате"

[2015-09-30 20:47] pofigizm opened #89 "восстановление в комнате (server)"

[2015-09-30 20:49] pofigizm opened #90 "Урлы для комнат"

[2015-09-30 20:50] pofigizm opened #91 "Поддержка markdown"

[2015-09-30 22:25] tempname11 opened #94 "Баг: возможно послать joinRoom несколько раз подряд."
Сервер отвечает на каждый из этих запросов и создает несколько новых пользователей. Мне кажется, очевидно, что после первого успешного запроса нужно начинать выдавать ошибки.

[2015-10-01 05:05] #86 closed, assigned to tempname11

[2015-10-01 05:07] tempname11 opened #95 "Реализация поиска комнат на сервере"
По API в #93

[2015-10-01 06:04] pofigizm commented on #94
Решится в рамках "ReJoinRoom"

[2015-10-01 06:18] tempname11 opened #97 "Переименовать файлы компонентов"
Вместо структуры:

[code]

cделать

[code]

Тогда становятся проще импорты:

Вместо
`import RoomInput from '../RoomInput/RoomInput'
будет
`import RoomInput from '../RoomInput'

См. https://github.com/sullenor/todos/blob/master/components/app/index.js

[2015-10-01 06:27] pofigizm commented on #97
Также внутри тупых компонент достаточно

[code]

[2015-10-01 06:27] pofigizm commented on #97
:+1:

[2015-10-01 08:07] tempname11 commented on #82
Первоначальная, простая версия есть.

[2015-10-01 08:07] #82 closed, assigned to tempname11

[2015-10-01 09:10] pofigizm opened #102 "Написать обертки для transport-ов"
Чтобы упростить читаемость и copy-paste
https://github.com/shri-2015-org/666/pull/96
https://github.com/shri-2015-org/666/pull/99

[2015-10-01 10:53] #95 closed, assigned to tempname11

[2015-10-01 10:54] #83 closed, assigned to tempname11

[2015-10-01 16:18] tempname11 opened #103 "Разбиение Navigation"
Компонент Navigation вырос до приличного размера, и явно просится разбить его на более мелкие.

Думаю, лучше всего сначала проработать ему дизайн, потому что он сейчас очень временный и сделан наспех. Потом, отталкиваться от дизайна.

[2015-10-01 17:25] exah commented on #91
Markdown должен рендерится на сервере или на клиенте?

[2015-10-01 17:26] exah commented on #91
На клиенте он сразу увидит своё сообщение отформатированным, а если на сервере будет меньше нагрузки на клиент...

[2015-10-01 18:40] exah opened #104 "Оповещения"
- [ ] Визуальные оповещения для пользователей

Например когда, что-то пошло не так. Сначала дизайн.

[2015-10-01 19:05] exah commented on #104
![main window copy 3](https://cloud.githubusercontent.com/assets/442932/10230918/87b51968-6888-11e5-9dac-e1357ed55a3e.png)
![main window copy 3](https://cloud.githubusercontent.com/assets/442932/10230950/b9a65aae-6888-11e5-8880-46fca198699a.png)

[2015-10-01 22:53] tempname11 commented on #104
Связано с #85

[2015-10-01 23:00] tempname11 opened #106 "Неразбериха с roomID vs roomName"
`name` у комнат в `develop` сейчас на самом деле -- её описание, а вот `roomID` -- реальное короткое название. Стоит продумать получше, какие всё-таки поля есть у комнаты и дать им семантичные имена.

См. https://github.com/shri-2015-org/666/blob/develop/server/mock/actions.js#L34

[2015-10-01 23:03] tempname11 opened #107 "Работоспособность кнопки `join random channel` в `Welcome`"
Ага.

[2015-10-01 23:08] tempname11 opened #108 "Валидация корректных roomID"
Сейчас не проверяется нигде, ни на сервере, ни на клиенте.

Надо сначала придумать принцип, по которому определяется валидность. Рабочее предложение: символы только из [a-Z, A-Z, 0-9, _, -]. Нужно ли разрешать кириллические символы?

[2015-10-01 23:10] tempname11 commented on #91
На клиенте, конечно. Живое превью можно сделать будет.

[2015-10-01 23:11] tempname11 commented on #91
Предлагаю использовать https://github.com/chjj/marked

[2015-10-01 23:27] tempname11 opened #109 "`lint` не проходит"
Нужно исправить все линтовые ошибки, чтобы можно снова было коммитить без `-n`

[2015-10-02 06:45] exah commented on #91
@tempname11 ну понятно, что marked :) Про живое превью не вариант, он же заменяет символы `md` на `html` теги, я это в `textarea` не сделаю, нужен тогда делать сплит редактор / превью.

[2015-10-02 07:18] pofigizm commented on #91
Да нет, набираешь в маркдауне -> хранится / отправляется на сервер / приходит с сервера в маркдауне -> отображается в html

[2015-10-02 07:19] exah commented on #91
@Pofigizm ок

[2015-10-02 07:23] tempname11 commented on #91
@exah да, я имел в виду отдельно стоящее превью. Может быть так, что ты начинаешь писать сообщение, а в MessageList появляется твоё живое сообщение-превью? На другом фоне или еще как-то визуально отделенное от "настоящих сообщений". И когда нажимаешь энтер, то оно просто меняет стиль на обычный.

[2015-10-02 07:32] tempname11 opened #110 "RoomInput не должен мутировать DOM"
Изменения поля ввода должны проходить через store. Позволит нам делать сложную логику, связанную с полем ввода.

Поле поиска в Navigation уже работает так, можно его взять за образец.

[2015-10-02 09:34] exah commented on #91
@tempname11 Предлагаю делать это не сразу))

[2015-10-02 09:35] #74 closed, assigned to exah

[2015-10-02 10:46] tempname11 commented on #91
@exah ну вообще если сконцентрироваться то это задачка на час. Завтра разберемся)

[2015-10-03 08:50] pofigizm commented on #94
Клиенская часть в задаче #84

[2015-10-03 08:55] pofigizm commented on #108
Без кирилических символов

[2015-10-03 08:56] pofigizm commented on #103
Нужен дизайн @exah

[2015-10-03 08:57] pofigizm commented on #45
Определить логику

[2015-10-03 08:58] pofigizm commented on #12
Определить время жизни пользователя в комнате

[2015-10-03 08:59] pofigizm commented on #45
Ожидает #12

[2015-10-03 09:29] exah opened #112 "Парсер сообщений"

[2015-10-03 10:07] #97 closed, assigned to tempname11

[2015-10-03 10:35] #108 closed, assigned to tempname11

[2015-10-03 10:36] tempname11 commented on #106
Не настолько важно, пока отправлю в backlog

[2015-10-03 11:38] #109 closed, assigned to tempname11

[2015-10-03 14:16] tempname11 opened #118 "Поддержка смайликов =)"

[2015-10-03 14:19] tempname11 opened #119 "Живое превью markdown"

[2015-10-03 14:20] tempname11 opened #120 "Парсинг сообщений в аттачменты OpenGraph на сервере"

[2015-10-03 14:20] tempname11 commented on #112
#120

[2015-10-03 14:20] #112 closed, assigned to exah

[2015-10-03 14:28] tempname11 opened #121 "Статус "юзер печатает сообщение""

[2015-10-03 18:11] exah commented on #103
Что вы хотите от него видеть?

[2015-10-04 09:37] #118 closed, assigned to exah

[2015-10-04 12:04] #107 closed, assigned to tempname11

[2015-10-05 08:55] tempname11 commented on #121
Пока не будем делать, т.к. осталась только неделя и надо сконцентрироваться на том, что есть.

[2015-10-05 08:55] #121 closed, assigned to nobody

[2015-10-05 17:31] pofigizm commented on #25
Документ позволяющий новому человеку быстро войти в курс дела.

[2015-10-05 18:30] pofigizm commented on #45
Когда выходит последний пользователь.

[2015-10-05 19:46] #91 closed, assigned to exah

[2015-10-06 01:57] tempname11 commented on #94
Не очень актуально, поскольку сервер переписывается по-новому @deemidroll. Когда это будет сделано, нужно обратить внимание, корректно ли новый сервер обрабатывает эту ситуацию.

[2015-10-06 08:48] #87 closed, assigned to pofigizm

[2015-10-06 08:48] #88 closed, assigned to pofigizm

[2015-10-06 08:48] #89 closed, assigned to pofigizm

[2015-10-06 08:54] tempname11 commented on #120
https://github.com/jshemas/openGraphScraper ?

[2015-10-06 09:07] deemidroll commented on #120
@tempname11 давай попрбуем, только закрою таск по экшенам

[2015-10-07 18:36] #119 closed, assigned to tempname11

[2015-10-07 18:54] #120 closed, assigned to tempname11

[2015-10-07 18:54] #110 closed, assigned to naruzl

[2015-10-07 19:02] exah opened #131 "Приложение падает на некоторых ссылках (Opengraph)"
Например на: http://www.siteinspire.com

[2015-10-07 19:21] alt-j opened #132 "Выкатить свежую версию на anonym.club"
Если это не долго, было бы хорошо подтянуть туда актуальную версию.

[2015-10-08 06:13] tempname11 commented on #131
Не понял, у тебя этот баг разрешился? Я у себя так и не смог воспроизвести.

[2015-10-08 06:20] tempname11 opened #134 "Заменить assert в валидации данных клиента на что-то менее жестокое."
На prod версии клиент не должен падать при получении некорректных данных. А на dev версии полезно бы писать больше информации об ошибках.

[2015-10-08 06:24] tempname11 opened #135 "Добпавить парочку OpenGraph plugins"
А то только один базовый -- это грустно. Можно, например, инлайн-видео c Youtube и инлайн-аудио с Soundcloud.

[2015-10-08 06:27] tempname11 opened #136 "Роуты"
Должно быть не очень сложно с https://github.com/rackt/redux-router

Пока что видятся:

[code]

[2015-10-08 06:30] tempname11 commented on #90
Упс, забыл что уже есть и создал #136

[2015-10-08 06:30] #90 closed, assigned to nobody

[2015-10-08 06:34] pofigizm commented on #136
А пустой это что?

[2015-10-08 06:35] pofigizm commented on #135
А у меня youtube работает...

[2015-10-08 06:40] pofigizm commented on #132
Не долго!
Давайте перед мержем БД вмержим девелоп в мастер и я его выкачу на прод.

[2015-10-08 06:50] tempname11 commented on #136
Хм, а действительно. Тогда `/welcome` не нужен, получается.

[2015-10-08 06:52] tempname11 commented on #135
@Pofigizm это отрабатывает Generic, который показывает картинку и title. Он должен на всех OpenGraph документах работать (по http://ogp.me/ `Basic Metadata`)

А я имею в виду прямо рабочий ютюбовский плеер внутри чата.

[2015-10-08 06:53] deemidroll commented on #132
Го

[2015-10-08 06:54] exah commented on #131
Да, если не было картинки ничего не возвращалось в компоненте, react это не любит. https://github.com/shri-2015-org/666/commit/a337e17af30d872c38555bbde0f14f7fef054193#diff-2940576e07b4a80b7c705b515165bdeeR27

[2015-10-08 07:16] tempname11 commented on #131
А, ты false возвращаешь. Понял.

[2015-10-08 09:11] #131 closed, assigned to exah

[2015-10-08 11:03] tempname11 commented on #135
Youtube в #139
На аудио не нашел подходящих сайтов почему-то. Soundcloud в OG не дает нормальных данных.

[2015-10-08 18:56] pofigizm opened #141 "Ошибка на проде [ SendStream.error ]"
Появилась только один раз.

RangeNotSatisfiableError: Range Not Satisfiable
    at SendStream.error (/root/node_modules/express/node_modules/send/index.js:245:31)
    at SendStream.send (/root/node_modules/express/node_modules/send/index.js:564:19)
    at /root/node_modules/express/node_modules/send/index.js:669:12
    at FSReqWrap.oncomplete (fs.js:95:15)

[2015-10-08 18:57] pofigizm commented on #141
После ошибки все продолжает работать нормально. Надо разбираться если будет повторяться.

[2015-10-08 18:59] pofigizm opened #142 "Наш сайт не отдает openGraph информацию"

[2015-10-08 19:00] pofigizm opened #143 "Наш логотип? Иконка?"

[2015-10-08 19:19] pofigizm opened #144 "Убрать ссылку из 'названия' комнаты"
Отюда - #This is a brand new room.
С мобильника попадаешь на нее часто.

[2015-10-08 19:38] pofigizm opened #145 "Не работает выход из комнаты в Safari на Mac"
TypeError: undefined is not a function (evaluating 'Object.assign({}, state)')

[2015-10-08 19:44] pofigizm opened #146 "при отправке сообщения аватарка показывается с задержкой"
Как будто подгружается новая картинка, но сетевых запросов нету.

[2015-10-08 19:50] #132 closed, assigned to pofigizm

[2015-10-08 20:33] pofigizm opened #147 "Прикреплять картинку"
Ссылку можно через:

Локальную картинку?

[2015-10-08 20:39] tempname11 commented on #146
Она же вроде подгружается со стороннего ресурса, поэтому с задержкой.

[2015-10-08 22:06] pofigizm commented on #146
Первый раз понятно что грузится, но второй и последующие должны быть мгновенно, а у нас задержка.

[2015-10-09 07:27] #134 closed, assigned to tempname11

[2015-10-09 13:10] pofigizm opened #150 "Assert is not defined"
https://github.com/shri-2015-org/666/blob/develop/client/api-checks.js#L138

[2015-10-09 14:27] deemidroll commented on #11
закроем по #116?

[2015-10-09 14:28] deemidroll commented on #136
я сделаю серверную часть)

[2015-10-09 16:12] tempname11 commented on #136
Тут нет серверной части:)

[2015-10-09 20:02] tempname11 commented on #150
https://github.com/shri-2015-org/666/commit/7417234fb3624417b967cd3bea04e93c3967770b

[2015-10-10 08:30] #81 closed, assigned to pofigizm

[2015-10-10 08:30] #102 closed, assigned to pofigizm

[2015-10-10 08:36] #136 closed, assigned to tempname11

[2015-10-10 08:39] tempname11 commented on #150
Fixed

[2015-10-10 08:39] #150 closed, assigned to nobody

[2015-10-10 12:06] deemidroll commented on #11
close #116

[2015-10-10 12:06] #11 closed, assigned to deemidroll

[2015-10-10 12:34] petrukhin opened #158 "Не работает выход из конфига по 'x'"
Шаги для воспроизведения:
- Создаю комнату, комната появляется в боковом меню
- После этого нажимаю на 'x' рядом с названием комнаты - ничего не происходит

В консоли:

[code]

UPD:

Связано с особенностью браузеров, http://babeljs.io/docs/usage/polyfill/ должен полечить

[2015-10-10 13:10] tempname11 commented on #158
https://github.com/shri-2015-org/666/pull/159

[2015-10-10 15:07] tempname11 commented on #147
Давайте не будем добавлять фич.

[2015-10-10 15:07] #147 closed, assigned to nobody

[2015-10-10 15:07] #135 closed, assigned to nobody

[2015-10-10 15:07] tempname11 commented on #135
Добавили Twitter =)

[2015-10-10 15:18] #94 closed, assigned to nobody

[2015-10-10 15:18] tempname11 commented on #84
Сделали

[2015-10-10 15:18] #84 closed, assigned to exah

[2015-10-10 15:23] #158 closed, assigned to nobody

[2015-10-10 15:24] #145 closed, assigned to nobody

[2015-10-10 15:25] #144 closed, assigned to nobody

[2015-10-10 15:31] mightyaleksey commented on #18
Похоже дублирует: https://github.com/shri-2015-org/666/issues/16

[2015-10-10 15:31] #18 closed, assigned to nobody

[2015-10-10 15:34] mightyaleksey commented on #58
Размеры ок, а скроллбары не надо кастомизировать :)

[2015-10-10 15:44] tempname11 commented on #45
Сделано!

[2015-10-10 15:44] #45 closed, assigned to deemidroll

[2015-10-10 15:48] tempname11 opened #172 "У сообщений из истории нет attachments"
Нету:(

[2015-10-10 19:01] #28 closed, assigned to deemidroll

[2015-10-10 19:01] #16 closed, assigned to nobody

[2015-10-10 19:01] tempname11 commented on #85
Не успеем сделать.

[2015-10-10 19:01] #85 closed, assigned to nobody

[2015-10-10 19:03] tempname11 opened #177 "Выброс пользователя по таймауту из комнаты."

[2015-10-10 19:05] #106 closed, assigned to tempname11

[2015-10-10 19:07] tempname11 opened #178 "На проде не работают роуты кроме /"

[2015-10-13 19:23] #73 closed, assigned to pofigizm

[2015-10-14 10:47] tempname11 commented on #178
Сделали

[2015-10-14 10:47] #178 closed, assigned to nobody

[2017-01-14 05:46] #177 closed, assigned to nobody

[2017-01-14 05:47] #103 closed, assigned to nobody

[2017-01-14 05:47] #172 closed, assigned to nobody

[2017-01-14 08:38] pofigizm commented on #172
Скучно? ))

[2017-01-14 09:15] tempname11 commented on #172
Не, просто в моих issues висели.

On Sat, 14 Jan 2017, 11:38 Denis Iogansen, <notifications@github.com> wrote:

[2017-04-09 22:16] naruzl commented on #172
Здорова мужики! Вы ещё фронтендите?

[2017-04-10 05:19] tempname11 commented on #172
Есть немного) а что?

[2017-04-10 07:46] mightyaleksey commented on #172
случается иногда :)

[2017-04-10 09:52] exah commented on #172
ага

[2017-04-10 10:40] pofigizm commented on #172
типа всем надо отметиться )) ну тогда я тоже

[2017-04-19 20:43] naruzl commented on #172
Молодцы! Это я так, чтобы посмотреть кто отреагирут ))

[2017-04-19 22:25] naruzl commented on #172
Значит я один перешёл на другую сторону. Ну и ладно ))

[2017-05-11 08:56] naruzl commented on #172
Всем привет! Расскажите, пожалуйста, каким образом вёрстку тестируете? Если вообще тестируете, может есть интересные решения?

[2017-05-11 08:56] naruzl commented on #172
Может есть средства автоматизированного тестирования?

[2017-05-11 09:58] megatolya commented on #172
я webdriver.io использую для функционального тестирования